//- accountdeleted.pug
doctype html
html(lang="en")
  body
    p= description
    p
      a(href="http://antipro.gitee.io/sharelist/")= mailsender
    br
    img(src="http://qr.liantu.com/api.php?text=http://antipro.gitee.io/sharelist/releases/sharelist-release.apk", style="width: 200px; height: 200px;", alt="Android")
